<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mano_amiga"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mano_amiga"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light"
        tools:targetApi="31">
        <activity
            android:name=".ChatsWindowPve"
            android:exported="false" />
        <activity
            android:name=".ChatsWindowCte"
            android:exported="false" />
        <activity
            android:name=".ChatPv"
            android:exported="false" />
        <activity
            android:name=".Chat"
            android:exported="false" />
        <activity
            android:name=".Nosotros"
            android:exported="false" />
        <activity
            android:name=".Detalles_ct"
            android:exported="false" />
        <activity
            android:name=".Solicitudes"
            android:exported="false" />
        <activity
            android:name=".Favoritos"
            android:exported="false" />
        <activity
            android:name=".reservasCt"
            android:exported="false" />
        <activity
            android:name=".Detalles_sv"
            android:exported="false" />
        <activity
            android:name=".Ajustes_pv"
            android:exported="false" />
        <activity
            android:name=".MainMenuPv"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".BuscarServicios"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".MainMenu"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".Registro_Detalles"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".Registro_Proveedor"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".Registro_Cliente"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".Sele_Registro"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".Inicio"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>